# Table

In [17]:
no=int(input("Enter a number to print table of :-"))
a=[no*i for i in range(1,11)]
print(a)

Enter a number to print table of :-55
[55, 110, 165, 220, 275, 330, 385, 440, 495, 550]

# Factoriyal

In [25]:
fa=int(input("Enter anumber:-"))
fact=1
a=[fact*i for i in range(1,fa+1)]
print(a)
print(fact)

Enter anumber:-5
[1, 2, 3, 4, 5]
1

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
a=10
for i in a:
    print(i)

TypeError: 'int' object is not iterable