# Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
x={key:value,key:value}

In [3]:
#eg
dict1={"Name":"Yash",
       "Subject":"BCA",
       "DOB":2-1-2003,
       "Semester":4,
       "Year":"2"}
print(dict1)

{'Name': 'Yash', 'Subject': 'BCA', 'DOB': -2002, 'Semester': 4, 'Year': '2'}

************************in************************
Method	              Description

clear()	              Removes all the elements from the dictionary

copy()	              Returns a copy of the dictionary

fromkeys()	          Returns a dictionary with the specified keys and value

get()	              Returns the value of the specified key

items()	              Returns a list containing a tuple for each key value pair

keys()	              Returns a list containing the dictionary's keys

pop()	              Removes the element with the specified key

popitem()	          Removes the last inserted key-value pair

setdefault()	      Returns the value of the specified key. If the key does not exist: insert the                         key, with the specified value

update()	          Updates the dictionary with the specified key-value pairs

values()	          Returns a list of all the values in the dictionary

# clear---Removes all the elements from the dictionary

In [1]:
a={"Name":"Aanshi",
  "SUb":"Btec",
  "DOB":"03-03-2004",
  "Age":20}

In [2]:
print(a)

{'Name': 'Aanshi', 'SUb': 'Btec', 'DOB': '03-03-2004', 'Age': 20}

In [3]:
a.clear()

In [4]:
print(a)

{}

# copy---Returns a copy of the dictionary

In [6]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [10]:
b=a.copy()
print(b)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

# fromkeys---Returns a dictionary with the specified keys and value

# get---Returns the value of the specified key

In [11]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [12]:
b=a.get("DOB")

In [13]:
print(b)

03-03-2004

In [15]:
print(a.get("Name"))

Aanshi

# items---Returns a list containing a tuple for each key value pair

In [16]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [17]:
b=a.items()
print(b)

dict_items([('Name', 'Aanshi'), ('SUb', 'B-tec'), ('DOB', '03-03-2004'), ('Age', 20)])

In [18]:
print(a.items())

dict_items([('Name', 'Aanshi'), ('SUb', 'B-tec'), ('DOB', '03-03-2004'), ('Age', 20)])

# keys---Returns a list containing the dictionary's keys

In [19]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [20]:
b=a.keys()
print(b)

dict_keys(['Name', 'SUb', 'DOB', 'Age'])

In [21]:
print(a.keys())

dict_keys(['Name', 'SUb', 'DOB', 'Age'])

# pop---Removes the element with the specified key

In [22]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [23]:
a.pop()
print(a)

TypeError: pop expected at least 1 argument, got 0

In [24]:
a.pop("Age")
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004'}

In [25]:
a.pop("Aanshi")
print(a)

KeyError: 'Aanshi'

# popitem---Removes the last inserted key-value pair

In [26]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [27]:
a.popitem()
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004'}

In [28]:
a.popitem("Aanshi")
print(a)

TypeError: dict.popitem() takes no arguments (1 given)

# setdefault---Returns the value of the specified key. If the key does not exist: insert the                         key, with the specified value

# update---Updates the dictionary with the specified key-value pairs

In [29]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [31]:
a.update({"Gender":"F"})
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20, 'Gender': 'F'}

In [33]:
b={"Collage":"TMU"}

In [35]:
a.update(b)
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20, 'Gender': 'F', 'Collage': 'TMU'}

# values---Returns a list of all the values in the dictionary

In [36]:
a={"Name":"Aanshi",
  "SUb":"B-tec",
  "DOB":"03-03-2004",
  "Age":20}
print(a)

{'Name': 'Aanshi', 'SUb': 'B-tec', 'DOB': '03-03-2004', 'Age': 20}

In [37]:
print(a.values())

dict_values(['Aanshi', 'B-tec', '03-03-2004', 20])