In [2]:
a="yash"
for i in a:
    print(i)

y
a
s
h

In [3]:
b="yash"
for i in b:
    print(b)

yash
yash
yash
yash

In [19]:
#functons in for loop
# 1-- Range
# 2-- enumrate
# 3-- zip

In [10]:
#range function 
# in range (x,y,z)
# where x= starting point
#       y= end pont 
#       z= jump (incriment value)
#  whre y should be the n+1 value for desired n

In [13]:
#eg1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
#eg2
for x in range (1,11,2):
    print(x)

1
3
5
7
9

In [18]:
#eg3
for z in range (11,1,-1):
    print(z)

11
10
9
8
7
6
5
4
3
2

In [23]:
 #enumerate function in for loop

In [ ]:
### this enumerate function print result in form of 
    # index and element

In [24]:
lst_1=["yash","arpan","shivansh",123,852,159]
for i in enumerate(lst_1):
    print(i)

(0, 'yash')
(1, 'arpan')
(2, 'shivansh')
(3, 123)
(4, 852)
(5, 159)

In [28]:
# to print index value only
lst_1=["yash","arpan","shivansh",123,852,159]
for i in enumerate(lst_1):
    print(i[0])

0
1
2
3
4
5

In [29]:
#to print element value only
lst_1=["yash","arpan","shivansh",123,852,159]
for i in enumerate(lst_1):
    print(i[1])

yash
arpan
shivansh
123
852
159

In [30]:
#Zip function in fore loop

In [32]:
# this zip function is used to combine data  of two or more data types and print output(Horisontally)(Index wise)

In [35]:
#eg --1
a=["Name","Class","Subject"]
b=("Yash","BCA","Python")
print(type(a))
print(type(b))
for i,j in zip(a,b):
    print(i,j)

<class 'list'>
<class 'tuple'>
Name Yash
Class BCA
Subject Python

In [37]:
#eg --2
a=["Name","Class","Subject"]
b=("Yash","BCA","Python")
c={11,22,33}
print(type(a))
print(type(b))
print(type(c))
for i,j,k in zip(a,b,c):
    print(i,j,k)

<class 'list'>
<class 'tuple'>
<class 'set'>
Name Yash 33
Class BCA 11
Subject Python 22