Set
*No indexing
*Not ittrable
*Store data in unorderd form
* eg- a={1,2,3,"Four",5,6,7,}
*we can not ceate empty set --- it becomes dictonery
            for creating empty set 
            a=set()
*We can not create sdet within set
*Data duplicy is not allowed (similler data more than one time is not printed)

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

sMeathods in set

add()---adds element at any position
pop()--- removes random value 
remove()--- atlest one argument is needed (value to b deleted)
discard()---work simillerly as remove meathod
add()---to add new value to set at any position
union()--- adds to sets
intersect()--- intersection point (Common value in both set)
difference()--- shous difference form one to second
update()--- update datat in ittrable form (only string)--- eg--
            update("yash")-----"y","a","s","h"

***********************In**************************
Method	               Description
add()	                          Adds an element to the set

clear()	                          Removes all the elements from the set

copy()	                          Returns a copy of the set

difference()	                  Returns a set containing the difference between two or more sets

difference_update()	              Removes the items in this set that are also included in another,                                       specified set

discard()	                      Remove the specified item

intersection()	                  Returns a set, that is the intersection of two or more sets

intersection_update()	          Removes the items in this set that are not present in other,                                           specified set(s)

isdisjoint()	                  Returns whether two sets have a intersection or not

issubset()	                      Returns whether another set contains this set or not

issuperset()	                  Returns whether this set contains another set or not

pop()	                          Removes an element from the set

remove()	                      Removes the specified element

symmetric_difference()	          Returns a set with the symmetric differences of two sets

symmetric_difference_update()	  inserts the symmetric differences from this set and another

union()	                          Return a set containing the union of sets

update()	                      Update the set with another set, or any other iterable

In [14]:
#we can not create empty set dirctely
x={}
print(type(x))

<class 'dict'>

In [15]:
#we can create empty set like
x=set()
print(type(x))

<class 'set'>

# Add---Adds an element to the set

In [8]:
a={"yash","veer","bawne"}
print(a)
print(type(a))

{'bawne', 'veer', 'yash'}
<class 'set'>

In [9]:
a.add("aanshi")
print(a)

{'bawne', 'veer', 'yash', 'aanshi'}

In [10]:
a.add(143)
print(a)

{'veer', 'aanshi', 'bawne', 'yash', 143}

# Clear---Removes all the elements from the set

In [11]:
a={"yash","veer","bawne"}
print(a)

{'bawne', 'veer', 'yash'}

In [12]:
a.clear()
print(a)

set()

# Copy---Returns a copy of the set

In [16]:
a={"yash","veer","bawne"}
print(a)

{'bawne', 'veer', 'yash'}

In [19]:
b=a
print(b)

{'bawne', 'veer', 'yash'}

In [22]:
c=a.copy()
print(c)

{'bawne', 'veer', 'yash'}

# difference---Returns a set containing the difference between two or more sets

In [27]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yash"}
print("b=",b)

a= {'bawne', 'veer', 123, 'yash'}
b= {'jain', 'aasnhi', 'yash'}

In [28]:
print(a.difference(b))

{'bawne', 'veer', 123}

In [29]:
print(b.difference(a))

{'jain', 'aasnhi'}

# difference_update---Removes the items in this set that are also included in another,  specified set

In [ ]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yash"}
print("b=",b)

In [32]:
print(b.difference_update(a))

None

# discard---Remove the specified item

In [34]:
a={"yash","veer","bawne",123}
print("a=",a)

a= {'bawne', 'veer', 123, 'yash'}

In [39]:
a.discard(123)
print(a)

{'bawne', 'veer', 'yash'}

In [40]:
a.discard("veer")
print(a)

{'bawne', 'yash'}

# intersection---Returns a set, that is the intersection of two or more sets

In [44]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yash",123,746,849,578}
print("b=",b)

a= {'bawne', 'veer', 123, 'yash'}
b= {849, 578, 'jain', 'aasnhi', 123, 746, 'yash'}

In [45]:
print(a.intersection(b))

{123, 'yash'}

In [46]:
print(b.intersection(a))

{123, 'yash'}

# intersection_update---Removes the items in this set that are not present in other, specified set(s)

In [51]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yash",123,746,849,578}
print("b=",b)

a= {'bawne', 'veer', 123, 'yash'}
b= {849, 578, 'jain', 'aasnhi', 123, 746, 'yash'}

In [53]:
a.intersection_update(b)
print(a)

{123, 'yash'}

In [54]:
b.intersection_update(a)
print(b)

{123, 'yash'}

# isdisjoint---Returns whether two sets have a intersection or not

In [1]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yah",23,746,849,578}
print("b=",b)

a= {'veer', 123, 'yash', 'bawne'}
b= {'jain', 849, 578, 'yah', 'aasnhi', 23, 746}

In [2]:
print(a.isdisjoint(b))

True

In [3]:
a={"yash","veer","bawne",123}
print("a=",a)
b={"aasnhi","jain","yash",23,746,849,578}
print("b=",b)

a= {123, 'veer', 'yash', 'bawne'}
b= {'jain', 849, 578, 'aasnhi', 23, 746, 'yash'}

In [4]:
print(a.isdisjoint(b))

False

# issubset---Returns whether another set contains this set or not

In [9]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
print("x=",x)
print("y=",y)

x= {'b', 'a', 'c'}
y= {'b', 'c', 'e', 'd', 'a', 'f'}

In [11]:
z=x.issubset(y)
print(z)

True

In [12]:
x = {"a", "b", "c"}
y = {"f", "e", "d", }
print("x=",x)
print("y=",y)

x= {'b', 'a', 'c'}
y= {'e', 'd', 'f'}

In [13]:
z=x.issubset(y)
print(z)

False

# issuperset---Returns whether this set contains another set or not

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
print("x=",x)
print("y=",y)

In [15]:
z=x.issuperset(y)
print(z)

False

In [16]:
x = {"a", "b", "c"}
y = {"f", "e", "d"}
print("x=",x)
print("y=",y)

x= {'b', 'a', 'c'}
y= {'e', 'd', 'f'}

In [17]:
z=x.issuperset(y)
print(z)

False

# pop---Removes an element from the set

In [18]:
q={"yash","veer","aanshi","rzi","arpan"}
print("q=",q)

q= {'arpan', 'rzi', 'veer', 'yash', 'aanshi'}

In [19]:
q.pop()
print(q)

{'rzi', 'veer', 'yash', 'aanshi'}

In [20]:
q.pop("veer")
print(q)

TypeError: set.pop() takes no arguments (1 given)

# remove---Removes the specified element

In [21]:
q={"yash","veer","aanshi","rzi","arpan"}
print("q=",q)

q= {'arpan', 'rzi', 'veer', 'yash', 'aanshi'}

In [22]:
q.remove()
print(q)

TypeError: set.remove() takes exactly one argument (0 given)

In [23]:
q.remove("rzi")
print(q)

{'arpan', 'veer', 'yash', 'aanshi'}

In [24]:
print(q.remove("yash"))

None

# symmetric_difference---Returns a set with the symmetric differences of two sets

In [25]:
c={"aa","bb","cc","dd"}
v={"bb","aa","qq","ll"}
print("c=",c)
print("v=",v)

c= {'bb', 'dd', 'aa', 'cc'}
v= {'bb', 'll', 'aa', 'qq'}

In [27]:
n=c.symmetric_difference(v)
print(n)

{'ll', 'qq', 'dd', 'cc'}

# symmetric_difference_update---inserts the symmetric differences from this set and another

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print("x=",x)
print("y=",y)

x= {'cherry', 'apple', 'banana'}
y= {'microsoft', 'google', 'apple'}

In [29]:
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'microsoft', 'cherry'}

# union---Return a set containing the union of sets

In [30]:
o={"a","b","c","d"}
p={"u","y","r","c","d"}
print("o=",o)
print("p=",p)

o= {'d', 'b', 'a', 'c'}
p= {'c', 'y', 'd', 'r', 'u'}

In [32]:
i=o.union(p)
print(i)

{'b', 'a', 'c', 'y', 'd', 'r', 'u'}

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print("x=",x)
print("y=",y)

z=x.union(y)
print("union=",z)

x= {'cherry', 'banana', 'apple'}
y= {'microsoft', 'google', 'apple'}
union= {'google', 'banana', 'cherry', 'microsoft', 'apple'}

# update---Update the set with another set, or any other iterable

In [36]:
o={"a","b","c","d"}
p={"u","y","r","c","d"}
print("o=",o)
print("p=",p)

o= {'d', 'b', 'a', 'c'}
p= {'c', 'y', 'd', 'r', 'u'}

In [37]:
o.update(p)

In [38]:
print(o)

{'b', 'a', 'c', 'y', 'd', 'r', 'u'}